$color-default: hsl(0, 0%, 96%);
$color-on-default: hsl(0, 0%, 20%);
$color-on-disabled: hsl(0, 0%, 60%);
$color-primary: hsl(264.7, 100%, 47%);
$color-on-primary: hsl(0, 0%, 100%);
$color-secondary: hsl(174.4, 100%, 50%);
$color-on-secondary: hsl(0, 0%, 0%);
$color-disabled: hsl(0, 0%, 89%);
$color-on-disabled: hsl(0, 0%, 60%);

$color-surface: #ffffff;
$color-surface-text: #000000;
$color-error: #B00020;
$color-error-text: #FFFFFF;

